#toast-container {
    position: Fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.toast {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s ease;
    font-family: Arial, sans-serif;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/*Cambiar color de los toast o mensajes*/
.success {
    background: #28a745;
}

.warning {
    background: #ffc107;
}

.error {
    background: #dc3545;
}
.informacion {
    background-color: #095CFF;
}


.confirm-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.4s ease;
    font-family: Arial, sans-serif;

    min-width: 250px;
    max-width: 350px;
    width: auto;
}

.confirm-toast.show {
    opacity: 1;
}

.confirm-toast .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.confirm-toast button {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.confirm-toast .accept {
    background-color: #28a745;
    color: #fff;
    transition: all 0.5s ease;
}

.confirm-toast .accept:hover {
    background-color: #14842e;
    transform: scale(1.1);
}

.confirm-toast .cancel {
    background-color: #dc3545;
    color: #fff;
    transition: all 0.5s ease;
}

.confirm-toast .cancel:hover {
    background-color: #bb2937;
    transform: scale(1.1);
}