<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tienda Julio y Mary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/toast.css') }}">
</head>

<body>
    <header>
        <h1 class="empresa">Tienda Julio y Mary</h1>
        <h1 class="pagina">Productos</h1>
        <div class="user-info">
            <img src="{{ url_for('static', filename='IMG/logo.png') }}">
            <label class="usuario-rol">{{ session.get("usuario_rol", "Rol") }}</label>
            <label class="usuario-nombre">{{ session.get("usuario_nombre", "Invitado") }}</label>
        </div>
    </header>
    <nav>
            <a href="{{ url_for('auth.menu') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/hogar.png') }}" class="icono">
                Inicio
            </a>
            <a href="{{ url_for('auth.productos')}}" class="active">
                <img src="{{ url_for('static', filename='IMG/iconos/paquetes.png') }}" class="icono">
                Productos
            </a>
            <a href="{{ url_for('auth.categoria') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/lineas-de-opciones.png') }}" class="icono">
                Categorias
            </a>
            <a href="{{ url_for('auth.proveedor') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/cadena-de-suministro.png') }}" class="icono">
                Proveedores
            </a>
            <a href="{{url_for('auth.inventario')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/inventario-disponible.png') }}" class="icono">
                Inventario
            </a>
            <a href="{{url_for('auth.compras')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/carrito-de-compras.png') }}" class="icono">
                Compras
            </a>
            <a href="{{url_for('auth.reportes')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/informe-seo.png') }}" class="icono">
                Reportes
            </a>
            <a href="{{url_for('auth.ventas')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/grafico-de-barras.png') }}" class="icono">
                Ventas</a>
            <a href="{{ url_for('auth.registro') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/agregar-usuario.png') }}" class="icono">
                Usuarios
            </a>
            <a href="{{ url_for('auth.logout') }}" class="logout">
                <i class="fas fa-sign-out-alt"></i>Cerrar sesión
            </a>
        </nav>
    <main>
            <div class="formulario">
                <label for="" class="center">AGREGAR PRODUCTO</label>
                <input type="hidden" id="id_producto">

                <label for="" class="label1">Nombre
                <label for="" style="color: red;">*</label>
                </label>
                <input type="text" id="nombre" placeholder="Nombre">
                <div class="fila-doble">
                    <div class="campo">
                        <label for="" class="label1">Categoria
                            <label for="" style="color: red;">*</label>
                        </label>
                        <select id="categoria" class="select-combo">
                            <option value="">Categoria</option>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="" class="label1">Proveedor
                            <label for="" style="color: red;">*</label>
                        </label>
                        <select id="proveedor">
                            <option value="">Proveedor</option>
                        </select>
                    </div>
                </div>
                <label for="" class="label1">
                Precio($)
                <label for="" style="color: red;">*</label>
                </label>
                <div class="fila-doble">
                    <div class="campo">
                        <input type="number" id="precio_compra" placeholder="Compra" step="0.01" required >
                    </div>
                    <div class="campo">
                        <input type="number" id="precio_venta" placeholder="Venta" step="0.01" required readonly>
                    </div>
                </div>

                <label for="" class="label1">Minimo en inventario
                    <label for="" style="color: red;">*</label>
                </label>
                <input type="number" id="stock_minimo" placeholder="Stock minimo" required>

                <label for="" class="label1">Descripcion
                    <label for="" style="color: red;">*</label>
                </label>
                <textarea id="descripcion" rows="4" placeholder="Ingrese aqui la descripcion del Producto"></textarea>

                <div class="botones">
                    <input type="button" class="guardar" value="Guardar" id="guardar">
                    <input type="button" class="cancelar" value="Cancelar" id="cancelar">
                </div>
            </div>

        </div>
        <div class="tabla-productos">
            <div class="buscador">
                <select id="filtro" class="select-combo">
                    <option value="" class="select-combo">Filtro</option>
                </select>
                <input type="search" placeholder="Buscar" id="buscador">
                <button type="button">Buscar</button>
            </div>
            <!-- Contenedor scrollable -->
            <div class="tabla-scroll">
                <table>
                    <thead>
                        <tr>
                            <th class="id-general">ID</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Proveedor</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>Stock Minimo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-produc">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="toast-container">

        </div>
    </main>
    <footer>
      © Universidad Nacional de El Salvador
    </footer>
    <script src="{{ url_for('static', filename='JS/agrprod.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/toast.js') }}"></script>
</body>
</html>