<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Julio y Mary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/toast.css') }}">
</head>

<body>
    <header>
        <h1 class="empresa">Tienda Julio y Mary</h1>
        <h1 class="pagina">Proveedores</h1>
        <div class="user-info">
            <img src="{{ url_for('static', filename='IMG/logo.png') }}">
            <label class="usuario-rol">{{ session.get("usuario_rol", "Rol") }}</label>
            <label class="usuario-nombre">{{ session.get("usuario_nombre", "Invitado") }}</label>
        </div>
    </header>

    <div class="contenedor">
        <nav>
            <a href="{{ url_for('auth.menu') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/hogar.png') }}" class="icono">
                Inicio
            </a>
            <a href="{{ url_for('auth.productos')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/paquetes.png') }}" class="icono">
                Productos
            </a>
            <a href="{{ url_for('auth.categoria') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/lineas-de-opciones.png') }}" class="icono">
                Categorias
            </a>
            <a href="{{ url_for('auth.proveedor') }}" class="active">
                <img src="{{ url_for('static', filename='IMG/iconos/cadena-de-suministro.png') }}" class="icono">
                Proveedores
            </a>
            <a href="{{url_for('auth.inventario')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/inventario-disponible.png') }}" class="icono">
                Inventario
            </a>
            <a href="{{url_for('auth.compras')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/carrito-de-compras.png') }}" class="icono">
                Compras
            </a>
            <a href="{{url_for('auth.reportes')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/informe-seo.png') }}" class="icono">
                Reportes
            </a>
            <a href="{{url_for('auth.ventas')}}">
                <img src="{{ url_for('static', filename='IMG/iconos/grafico-de-barras.png') }}" class="icono">
                Ventas</a>
            <a href="{{ url_for('auth.registro') }}">
                <img src="{{ url_for('static', filename='IMG/iconos/agregar-usuario.png') }}" class="icono">
                Usuarios
            </a>
            <a href="{{ url_for('auth.logout') }}" class="logout">
                <i class="fas fa-sign-out-alt"></i>Cerrar sesión
            </a>
        </nav>
        <main>
                <div class="formulario">
                    <label for="" class="center">AGREGAR PROVEEDOR</label>
                    <input type="hidden" id="id_prov">

                    <label for="" class="label1">Nombre
                    <label for="" style="color: red;">*</label>
                    </label>
                    <input type="text" id="nombre" placeholder="Nombre">

                    <label for="" class="label1">Teléfono
                    <label for="" style="color: red;">*</label>
                    </label>
                    <input type="tel" id="telefono" placeholder="Teléfono">

                    <label for="" class="label1">Email
                    <label for="" style="color: red;">*</label>
                    </label>
                    <input type="email" id="email" placeholder="Email">

                    <label for="" class="label1">Direccion
                    <label for="" style="color: red;">*</label>
                    </label>
                    <input type="text" id="direccion" placeholder="Direccion">
                    <div class="botones">
                        <input type="button" value="Guardar" id="guardar" class="guardar">
                        <input type="button" value="Cancelar" id="cancelar" class="cancelar">
                    </div>
                </div>
                <div class="tabla-scroll">
                    <table id="tabla-proveedores">
                        <thead>
                            <tr>
                                <th class="id-general">ID</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Direccion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="toast-container">
        </main>
    </div>
    <footer>
      © Universidad Nacional de El Salvador
    </footer>
    <script src="{{ url_for('static', filename='js/agrprov.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
</body>
</html>