<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reporte de Stock Mínimo - Tienda Julio y Mary</title>
  <style>@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');</style>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ingresos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cuadroColor.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/grafica.css') }}">
</head>
<body>
  <header>
    <h1 class="empresa">Tienda Julio y Mary</h1>
    <h1 class="pagina">Reporte de Stock Mínimo</h1>
    <div class="user-info">
      <img src="{{ url_for('static', filename='IMG/logo.png') }}">
      <i class="fas fa-user-circle"></i>
      <label class="usuario-rol">{{ session.get("usuario_rol", "Rol") }}</label>
      <label class="usuario-nombre">{{ session.get("usuario_nombre", "Invitado") }}</label>
    </div>
  </header>

  <nav>
            <a href="{{ url_for('auth.menu') }}">Inicio</a>
            <a href="{{ url_for('auth.productos')}}">Productos</a>
            <a href="{{ url_for('auth.categoria') }}">Categorias</a>
            <a href="{{ url_for('auth.proveedor') }}" class="active">Proveedores</a>
            <a href="{{url_for('auth.inventario')}}">Inventario</a>
            <a href="{{url_for('auth.compras')}}">Compras</a>
            <a href="{{url_for('auth.reportes')}}">Reportes</a>
            <a href="{{url_for('auth.ventas')}}">Ventas</a>
            <a href="{{ url_for('auth.registro') }}">Usuarios</a>
            <a href="{{ url_for('auth.logout') }}" class="logout">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </a>
        </nav>

  <main>
<div class="wrap full">
      <div class="head">
        <h2 class="title">📉 Stock mínimo</h2>
        <div class="actions">
          <button id="btnBar">Barras</button>
          <button id="btnPie" class="active">Stock mínimo</button>
          <button id="btnMovi">Movimientos Recientes</button>
        </div>
      </div>

     <div class="tabla-reportes">
  <div class="tabla-scroll">
    <table class="tabla-estilizada tabla-larga">
            <thead>
              <tr><th>ID Producto</th><th>Nombre</th><th>Descripción</th><th>Stock Mínimo</th></tr>
            </thead>
            <tbody id="tabla-stockmin"></tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer>© Sistema Tienda Julio y Mary</footer>

  <script>
    document.getElementById('btnBar') .addEventListener('click', ()=>location.href="{{ url_for('auth.reportes') }}");
    document.getElementById('btnPie') .addEventListener('click', ()=>location.href="{{ url_for('auth.stockmin') }}");
    document.getElementById('btnMovi').addEventListener('click', ()=>location.href="{{ url_for('auth.movi') }}");
  </script>
  <script src="{{ url_for('static', filename='js/stockMin.js') }}"></script>
</body>
</html>
