<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tienda Julio y Mary</title>

  <!-- Estilos CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/toast.css') }}">
</head>

<body>

  <!-- HEADER -->
  <header>
    <h1 class="empresa">Tienda Julio y Mary</h1>
    <h1 class="pagina">Usuarios</h1>
    <div class="user-info">
      <img src="{{ url_for('static', filename='IMG/logo.png') }}">
      <i class="fas fa-user-circle"></i>
      <label class="usuario-rol">{{ session.get("usuario_rol", "Rol") }}</label>
      <label class="usuario-nombre">{{ session.get("usuario_nombre", "Invitado") }}</label>
    </div>
  </header>

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="contenedor">
    <!-- NAV LATERAL -->
    <nav>
      <a href="{{ url_for('auth.menu') }}">
        <img src="{{ url_for('static', filename='IMG/iconos/hogar.png') }}" class="icono">
        Inicio
      </a>
      <a href="{{ url_for('auth.productos')}}">
        <img src="{{ url_for('static', filename='IMG/iconos/paquetes.png') }}" class="icono">
        Productos
      </a>
      <a href="{{ url_for('auth.categoria') }}">
        <img src="{{ url_for('static', filename='IMG/iconos/lineas-de-opciones.png') }}" class="icono">
        Categorias
      </a>
      <a href="{{ url_for('auth.proveedor') }}">
        <img src="{{ url_for('static', filename='IMG/iconos/cadena-de-suministro.png') }}" class="icono">
        Proveedores
      </a>
      <a href="{{url_for('auth.inventario')}}">
        <img src="{{ url_for('static', filename='IMG/iconos/inventario-disponible.png') }}" class="icono">
        Inventario
      </a>
      <a href="{{url_for('auth.compras')}}">
        <img src="{{ url_for('static', filename='IMG/iconos/carrito-de-compras.png') }}" class="icono">
        Compras
      </a>
      <a href="{{url_for('auth.reportes')}}">
        <img src="{{ url_for('static', filename='IMG/iconos/informe-seo.png') }}" class="icono">
        Reportes
      </a>
      <a href="{{url_for('auth.ventas')}}">
        <img src="{{ url_for('static', filename='IMG/iconos/grafico-de-barras.png') }}" class="icono">
        Ventas
      </a>
      <a href="{{ url_for('auth.registro') }}" class="active">
        <img src="{{ url_for('static', filename='IMG/iconos/agregar-usuario.png') }}" class="icono">
        Usuarios
      </a>
      <a href="{{ url_for('auth.logout') }}" class="logout">
        <i class="fas fa-sign-out-alt"></i>Cerrar sesión
      </a>
    </nav>
    <main>
      <div class="formulario">
        <label for="" class="center">AGREGAR USUARIO</label>
        <input type="hidden" id="id_usuario">

        <label for="" class="label1">Nombre
          <label for="" style="color: red;">*</label>
        </label>
        <input type="text" id="nombre" placeholder="Nombre">


        <label for="" class="label1">Contraseña
          <label for="" style="color: red;">*</label>
        </label>
        <div class="fila-doble">
          <input type="password" id="contrasena" placeholder="Contraseña">
          <input type="password" id="confirmar" placeholder="Confirmación">
        </div>

        <div id="mensaje-flotante" class="mensaje-flotante">
          <p><strong>La contraseña debe contener:</strong></p>
          <ul>
            <li id="req-long">Mínimo de <strong>12 caracteres</strong></li>
            <li id="req-mayus">Al menos <strong>1 mayúscula</strong></li>
            <li id="req-simbolo">Al menos <strong>1 símbolo</strong> (ej: !, @, #, $)</li>
            <li id="req-num">Al menos <strong>1 número</strong></li>
          </ul>
        </div>
        <label for="mostrar-contrasena" class="label1">
          <input type="checkbox" id="mostrar-contrasena"> Mostrar contraseña
        </label>

        <label for="" class="label1">Rol
          <label for="" style="color: red;">*</label>
        </label>
        <select id="roles">
          <option value="">Seleccione un Rol</option>
        </select>


        <label for="" class="label1">Correo
          <label for="" style="color: red;">*</label>
        </label>
        <input type="email" name="" id="correo" placeholder="EjemploCorreo@gmail.com">

        <label for="" class="label1">Teléfono
          <label for="" style="color: red;">*</label>
        </label>
        <input type="tel" name="" id="telefono" placeholder="7519-3567">

        <div class="botones">
          <input type="button" class="guardar" value="Guardar" id="guardar">
          <input type="button" class="cancelar" value="Cancelar" id="cancelar">
        </div>
        <!--Fin del div formulario-->
      </div>

      <div class="tabla-scroll">
        <button id="abrir-modal-rol" class="btn-abrir">Gestionar Roles</button>

        <!-- Modal -->
        <div id="modal-rol" class="modal">
          <div class="modal-contenido">
            <span id="cerrar-modal-rol" class="cerrar">&times;</span>
            <h2>Gestión de Roles</h2>
            <!-- Formulario para agregar/editar rol -->
            <div class="formulario-rol">
              <input type="hidden" id="id_rol_modal">
              <label>Nombre del rol</label>
              <input type="text" id="nombre_rol_modal" placeholder="Nombre del rol">

              <div class="botones">
                <input type="button" id="guardar_rol_modal" class="guardar" value="Guardar">
                <input type="button" id="cancelar_rol_modal" class="cancelar" value="Cancelar">
              </div>
            </div>

            <!-- Tabla de roles existentes -->
            <div class="tabla-roles">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="tablaRoles">
                  <!-- Se llenará dinámicamente -->
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <table>
          <thead>
            <tr>
              <th class="id-general">ID</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="tablaUsuarios">
          </tbody>
        </table>
        <!--Fin del div tabla-scroll-->
      </div>

    </main>

    <div id="toast-container">
    </div>
    <!-- FOOTER -->
    <footer>
      © Universidad Nacional de El Salvador
    </footer>

    <script>
      const inputContrasena = document.getElementById("contrasena");
      const mensaje = document.getElementById("mensaje-flotante");

      const reqLong = document.getElementById("req-long");
      const reqMayus = document.getElementById("req-mayus");
      const reqSimbolo = document.getElementById("req-simbolo");
      const reqNum = document.getElementById("req-num");

      inputContrasena.addEventListener("focus", () => {
        mensaje.style.display = "block";
      });

      inputContrasena.addEventListener("blur", () => {
        mensaje.style.display = "none";
      });

      inputContrasena.addEventListener("input", () => {
        const value = inputContrasena.value;

        // Validaciones
        reqLong.classList.toggle("cumplido", value.length >= 12);
        reqMayus.classList.toggle("cumplido", /[A-Z]/.test(value));
        reqSimbolo.classList.toggle("cumplido", /[!@#$%^&*(),.?":{}|<>]/.test(value));
        reqNum.classList.toggle("cumplido", /\d/.test(value));
      });
      const inputConfirmar = document.getElementById("confirmar");
      const mostrar = document.getElementById("mostrar-contrasena");

      mostrar.addEventListener("change", () => {
        const tipo = mostrar.checked ? "text" : "password";
        inputContrasena.type = tipo;
        inputConfirmar.type = tipo;
      });
    </script>
    <script src="{{ url_for('static', filename='JS/agrusuario.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/agrrol.js') }}"></script>
</body>

</html>